body {
    margin: 0;
    background-color: #fff;
    font-family: 'Varela', sans-serif;
    overflow-x: hidden;
}

/* typography */

header h1, header h2 {
    position: absolute;
    white-space: nowrap;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

/* Small devices with the width <= 992px */

#top-discount-banner p {
    margin: 0;
    text-align: center;
    font-size: 0.75rem; /* 12 px */
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 1.5;
}

header h1 {
    font-size: 1.89rem; /* 30px */
    letter-spacing: 0.1rem;
    top: 50%;
}

header h2 {
    font-size: 0.69rem; /* 11px */
    letter-spacing: 0.6rem; 
    top: 70%;
}

.menu-container h2 {
    font-size: 1.25rem; /* 20px */
    text-align: center;
}

.btn_container p {
    margin: 5px 0;
    font-size: 0.88rem; /* 14px */
}



/* layout */

header {
    width: 100%;
    position: relative;
}

#top-discount-banner {
    position: absolute;
    padding: 0.63rem; /* 10px */
    background-color: #ff9900;
    color: #ffffff;

    z-index: 1;
    width: 100%;
}

.menu {
    margin-bottom: 19rem; /* 200px */
}

.order-total,
.ordered_items {
    align-self: flex-start;
}

/* images */

header img {
    margin-top: 2.5rem; /* 48 px */
    width: 100%;
    max-height: 20rem; /* 32px */
    object-fit: cover;
}

.dish-preview {
    border: 1px solid lightgray;
    max-height: 7.81rem; /* 125px */
    width: 6.25rem; /* 100px */
}

/* menu items */

.menu-item {
    border-bottom: 1px solid lightgray;
    padding: 1.25rem 0 0 0; /* 20px */
    margin: 0 0.94rem; /* 15px */
}

.item-inner {
    display: flex;
    gap: 0.94rem; /* 15px */
}

.item-photo {
    display: flex;
    flex: 1;
}

.menu-details{
    font-size: 0.7rem; /* 11px */
    line-height: 1.5;
}

.menu-details h3 {
    margin: 0;
}

/* order preview */

.order-preview-con {
    display: flex;
    flex-direction: column;
    align-items: center;

    width:100%;
    padding: 0.94rem; /* 15px */
    position: fixed;
    bottom: 0;
    z-index: 1;
    background: #fff;
    border-top: 1px solid lightgray;
}


/* buttons */

.btn_container {
    display:flex;
    flex-direction: column;
    align-items: center;
}

.quantity_btn {
    width: 1.56rem; /* 25px */
    height: 1.56rem; /* 25px */
    background: #fff;
    border: 1px solid lightgray;
    border-radius: 50%;
}

button:hover {
    background: #FABD60;
    color: #fff;
}

button:active {
    background: #FE9951;
}

.purchase-button {
    width: 60%;
    border: none;
    border-radius: 3px;
    background: #ff9900;
    color: #fff;
    padding: 8px 20px;
}

/* a list of ordered items */
ol{
    width: 100%;
}

ol li{
    display: flex;
    justify-content: space-between;
    font-size: 13px;
    align-items: center;
    counter-increment: item;
}

li:before {
    content: counter(item);
   }

/* utility */

.hidden{
    display: none;
}


/* ----- MEDIA QUERIES ----- */

/* Large devices with the width >= 768px */
@media only screen and (min-width: 768px) {

    /* typography */

    header h1 {
        font-size: 5.5rem; /* 88px */
        letter-spacing: 0.94rem; /* 88px */
        top: 25%;
        left: 50.5%;
    }

    header h2 {
        font-size: 3rem;
        letter-spacing: 1.35rem;
        top: 58%;
    }

    #top-discount-banner p {
        font-size: 1em;
    }

    /* layout */

    .menu-item{
        margin: 15px auto;
        width: calc(70%);
        border: none;
    }

    .item-inner {
        gap: 20px;
    }

    .menu-details{
        font-size: 1rem; /* 11px */
        width: calc(100%);
        line-height: 1.5;
        margin-bottom: 15px;
    }


    .dish-preview {
        max-height: 15.63rem; /* 250px */
        width: 12.5rem; /* 200px */
    }

    /* buttons */

    .quantity_btn {
        width: 2.2rem; /* 35px */
        height: 2.2rem; /* 35px */
    }
}