body {
    margin: 0;
    background-color: #fff;
    font-family: 'Varela', sans-serif;
} 

/* typography */

h1, h2 {
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

/* Small devices with the width <= 992px */
h1 {
    font-size: 1.4rem;
    letter-spacing: 0.1rem;
    top: 35%;
}

h2 {
    font-size: 0.7rem;
    letter-spacing: 0.35rem;
    top: 60%;
}

/* Large devices with the width >= 992px */
@media only screen and (min-width: 992px) {
    h1 {
        font-size: 5.5rem;
        letter-spacing: 0.94rem;
        top: 25%;
        left: 50.5%;
    }

    h2 {
        font-size: 3rem;
        letter-spacing: 1.35rem;
        top: 58%;
    }
    
}

/* layout */
header {
    position: relative;
    overflow-x: hidden;
}

header img {
    width: 100%;
    max-height: 320px;
    object-fit: cover;
}

/* menu items */

.menu-item {
    border-bottom: 1px solid lightgray;
    padding: 20px 0 0 0;
    width: 100%;
    margin: 15px 0;

    display: flex;
    flex-direction: row;
}

.item-inner {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.menu-details{
    font-size: 13px;
    justify-content: space-between;

    width: 150px;
    font-size: 14px;
    line-height: 20px;
}

/* images */

.dish-preview {
    border: 1px solid lightgray;
    width: 100px;
}

/* utility */
.hidden{
    display: none;
}